.form {
  width: 50rem;
  // padding: 1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  >div {
    flex: auto;
  }
}

.button {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

@media (min-width: 701px) and (max-width: 1120px) {
  .form {
    width: 100%;
    padding: 0 20px;
    font-size: 5px;
  }
}

@media (max-width: 700px) {
  .form {
    width: 100%;
    padding: 0 10px;

    >input {
      padding-top: 30 !important;
    }
  }

  .flex {
    display: inline-block;
    width: 100%;
  }
}